@import "./main.css";

.cards-fixed-width {
  min-width: 15rem;
  max-width: 30rem;
}

.card-deck {
  align-items: center;
}

.card-border {
  border-color: var(--border);
}

.card {
  border-radius: 6px;
  cursor: pointer;
}

.content-section {
  padding: 10px 20px;
  border: 1px solid var(--border);
  border-radius: 6px;
  margin-bottom: 20px;
  color: var(--text-color) !important;
}
.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--border);
}

/* badge */
.badge {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 3px 6px;
  border: 1px solid transparent;
  min-width: 10px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 99999px;
  margin-left: 4px;
}

.badge.badge-success {
  background-color: var(--badge-color);
}

.badge.badge-outlined {
  background-color: transparent;
}

.badge.badge-outlined.badge-success {
  border-color: var(--badge-color);
  color: var(--badge-color);
}

.searchbar {
  margin-bottom: 1rem;
}
